.input-container {
    padding-top: 50px;
    margin-left: 50px;

    .write-it-input-login {
        margin-top: 20px;
        background: #F6F4DE;
        padding-top: 10px !important;
        width: 250px;
        height: 50px;
        border-radius: 5px;
        border: 1.5px solid #ACABA3;
        color: #02343F;
    }

    .click-input {
        border: 1.5px solid #02343F;
    }

}

.btn-login-container {
    display: flex;
    position: absolute;
    top: 220px;
    .btn-login {
        ::ng-deep .p-button {
            color: #F6F4DE !important;
            width: 90px;
            height: 50px;
            font-weight: revert;
            font-size: 18px;
            border-radius: 10px;
        }

        ::ng-deep .p-button:hover:enabled {
            background-color: #0d6e81 !important;
        }
    }

    .btn-signup {
        ::ng-deep .p-button {
            background-color: #F6F4DE !important;
            color: #044451 !important;
            width: 90px;
            height: 50px;
            font-weight: revert;
            font-size: 18px;
            border-radius: 10px;
            border-color: #044451 !important;
        }

        ::ng-deep .p-button:hover {
            background-color: #044451 !important;
            color: #F6F4DE !important;
            border-color: #F6F4DE !important;
        }
    }
}

.show-hide-password {
    margin-top: 0.2px; 
    margin-right: 50px;
}

.show-hide-password:hover{
    cursor: pointer;
}

.forgot-password{
    margin-left: 190px;
    margin-top: 10px;
    color: #044451;
    a:hover{
        cursor: pointer;
        color: #0d6e81;
    }
}

