.btn-container-reset-password {
    display: flex;
    justify-content: flex-end;
}

.input-forgot-container {}

.input-email-forgot {
    width: 100%;
    margin-top: 10px;
}

.input-email-forgot:hover{
       border: 1px solid #044451 !important;
}

.input-email-forgot:focus{
    color: #F6F4DE !important;
    border: 1px solid #044451;
}