.login {
    height: 450px !important;

    .btn-login-container {
        margin-top: 0px;
        margin-left: 0px;

        .btn-signup {
            margin-left: 110px;
            ::ng-deep .p-button {
                color: #F6F4DE !important;
                width: 90px;
                height: 50px;
                font-weight: revert;
                font-size: 18px;
                border-radius: 10px;
            }

            ::ng-deep .p-button:hover {
                background-color: #0d6e81 !important;
            }
        }
    }
}

.back-login {
    position: absolute;
    margin-left: 70px;
}

.back-login:hover p {
    cursor: pointer;
    color: #063e49;
}