<div class="login">
    <div class="title">
    <span style="color: #02343F; font-size: 25px;">Write it !</span>
    </div>
    <div class="input-container">
    <input class="write-it-input-login" type="text" pInputText />
    <input class="write-it-input-login" type="text" pInputText />
    <input class="write-it-input-login" type="text" pInputText />
    </div>
    <div class="btn-login-container">
           <div class="btn-signup">
           <p-button label="sign up" (click)="signup()"/>
           </div>
    </div>
</div>