<div class="login">
  <p-toast />
  <div class="title">
    <span style="color: #02343f; font-size: 25px">Write it !</span>
  </div>
  <form [formGroup]="registerForm" class="flex-col gap-4 w-full sm:w-56">
    <div class="input-container">
      <input
        class="write-it-input-login"
        [class.click-input]="clickUsername"
        placeholder="Username"
        formControlName="username"
        type="text"
        pInputText
        (click)="handleClickinside('username')"
        writeItClickOutside
        (clickOutside)="handleClickoutside('username')"
      />
      <write-it-print-error
        [control]="registerForm.get('username')"
      ></write-it-print-error>

      <input
        class="write-it-input-login"
        [class.click-input]="clickPassword"
        placeholder="Password"
        formControlName="password"
        type="text"
        pInputText
        (click)="handleClickinside('password')"
        writeItClickOutside
        (clickOutside)="handleClickoutside('password')"
      />
      <write-it-print-error
        [control]="registerForm.get('password')"
      ></write-it-print-error>
      <input
        class="write-it-input-login"
        [class.click-input]="clickDisplayedName"
        placeholder="Displayed name"
        formControlName="displayedName"
        type="text"
        pInputText
        (click)="handleClickinside('displayedName')"
        writeItClickOutside
        (clickOutside)="handleClickoutside('displayedName')"
      />
      <write-it-print-error
        [control]="registerForm.get('displayedName')"
      ></write-it-print-error>
    </div>
    <div class="btn-login-container">
      <div class="btn-signup">
        <p-button label="sign up" (click)="signup()" />
      </div>
      <div class="back-login">
        <p style="color: #066c80">
          Already have an account? <u (click)="backtoLogin()">login</u>
        </p>
      </div>
    </div>
  </form>
</div>
