.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.reset-password {
    .title {
        margin-top: 30px;
        position: absolute;
        margin-left: 70px;
    }
    .btn-reset-password-container {
    display: flex;
    position: absolute;
    top: 200px;
    margin-top: 30px;
    margin-left: 30px;

    .btn-login {
        ::ng-deep .p-button {
            color: #F6F4DE !important;
            width: 250px;
            height: 50px;
            font-weight: revert;
            font-size: 18px;
            border-radius: 10px;
        }

        ::ng-deep .p-button:hover:enabled {
            background-color: #0d6e81 !important;
        }
    }
}

}

.input-container {
    padding-top: 50px;
    margin-left: 50px;

    .write-it-input-reset-password {
        margin-top: 20px;
        background: #F6F4DE;
        padding-top: 10px !important;
        width: 250px;
        height: 50px;
        border-radius: 5px;
        border: 1.5px solid #ACABA3;
        color: #02343F;
    }

    .click-input {
        border: 1.5px solid #02343F;
    }

}


.show-hide-password {
    margin-top: 0.2px;
    margin-right: 50px;
}

.show-hide-password:hover {
    cursor: pointer;
}