  .write-it-input {
    background: var(--input-color-dark) !important;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1.5px solid var(--input-border-color-dark) !important;
    color: var(--text-color);
  }

.click-input {
   border: 1.5px solid var(--input-border-color-hightlight-dark) !important;
}
