.profile-management{
  display: flex;
  width: 100%;
  height: 100%;
  background-color:  var(--primary-color);
}

.profile-menu{
  width: 15%;
}
.write-it-menu{
   margin-top: 0;
   margin-left: 0;
   height: 100%;
   font-size: 20px;
}